<button
  class="activity-btn"
  [class.running]="isRunning"
  (click)="handleClick()"
  [disabled]="loading"
  data-testId="btn"
>
  <ng-container *ngIf="!loading ; else loadingTemplate">
    <nz-icon
    data-testId="icon"
      [nzType]="isRunning ? 'close' : 'caret-right'"
      nzTheme="outline"
    /><span data-testId="btn-text">{{isRunning ? "Stop" : "Start"}}</span>
  </ng-container>
</button>

<ng-template  #loadingTemplate>
  <!-- <nz-spin nzSimple class="loading"></nz-spin> Ugly af --> 
   <span data-testId="loading">Wait...</span>
</ng-template>
