<nz-layout>
  <span *ngIf="logRender"></span>
  <ng-container *ngIf="!isMobile">
    <nz-sider
      nzCollapsible
      nzWidth="300px"
      [nzCollapsedWidth]="0"
      [nzTrigger]="null"
      [(nzCollapsed)]="isSidebarCollapsed"
    >
      <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
    </nz-sider>
  </ng-container>

  <nz-layout>
    <nz-drawer
      *ngIf="isMobile"
      [nzVisible]="isDrawerVisible"
      nzPlacement="left"
      (nzOnClose)="isDrawerVisible = false"
      [nzClosable]="false"
      nzWidth="75%"
    >
      <ng-container *nzDrawerContent>
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
      </ng-container>
    </nz-drawer>
    <nz-content class="nz-content">
      <button
        nz-button
        nzType="text"
        (click)="toggleSidebar()"
        class="toggle-btn"
      >
        <i
          nz-icon
          [nzType]="isMobile ? 'menu' : (isSidebarCollapsed ? 'menu-unfold' : 'menu-fold')"
        ></i>
      </button>
      <app-activity-detail
        [activity]="activityStore.selectedActivity$ | async"
      ></app-activity-detail>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #sidebarContent>
  <div class="sider-content">
    <div class="user-info">
      <span class="user-email">{{ user }}</span>
      <button nz-button nzType="default" class="logout-btn" (click)="signOut()">
        <i nz-icon nzType="logout"></i>
      </button>
    </div>

    <app-sidebar-menu />
    <div class="sider-modal-bottom">
      <app-activity-modal />
      <app-category-modal />
    </div>
  </div>
</ng-template>
