<nz-card class="stats-card" nzBordered="false">
  <div class="card-title">Custom Stats</div>

  <ng-container *ngIf="activityStore.selectedActivity$ | async as activity">
    <ng-container
      *ngIf="activity.customStats && (activity.customStats | keyvalue)?.length; else noCustomStats"
    >
      <div class="stats-container">
        <div
          class="stat-row"
          *ngFor="let stat of activity.customStats | keyvalue"
        >
          <span class="label">{{ stat.key }}</span>
          <span class="value">{{ stat.value }}</span>
        </div>

        <div class="btn-container">
          <button
            class="add-btn"
            nz-button
            nzType="primary"
            nz-popover
            [(nzPopoverVisible)]="visible"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="right"
          >
            +
          </button>
          <button
            nz-button
            (click)="handleEdit($event)"
            class="add-btn"
            nzType="primary"
          >
            {{isEditing ? 'Save' : 'Edit'}}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noCustomStats>
    <div class="no-stats">
      <span>No custom stats available</span>
      <button
        class="add-btn"
        nz-button
        nzType="primary"
        nz-popover
        [(nzPopoverVisible)]="visible"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="right"
      >
        Add One
      </button>
    </div>
  </ng-template>
</nz-card>

<ng-template #contentTemplate>
  <form [formGroup]="form" nz-form>
    <nz-form-item class="input-container">
      <nz-form-control>
        <input
          formControlName="statName"
          class="ant-input"
          nz-input
          placeholder="Stat Name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          formControlName="initialValue"
          class="ant-input"
          nz-input
          placeholder="Initial Value"
        />
      </nz-form-control>
    </nz-form-item>
    <button nz-button (click)="handleUpdate($event)">+</button>
  </form>
</ng-template>
