<div class="activity-stats">
  <div class="stats-wrapper">
    <div class="stat-item">
      <nz-icon class="stats-icon" nzType="field-time" nzTheme="outline" />
      <div class="stat-item-value">
        <span class="stat-title">Time spent</span>
        <span>2h 14m</span>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-item-value">
        <span class="stat-title">Last active</span>
        <span
          >{{activity.lastPlayed ? activity.lastPlayed : "Not activeated
          yet"}}</span
        >
      </div>
    </div>

    <div class="stat-item">
      <nz-icon class="stats-icon" nzType="trophy" nzTheme="outline" />
      <div class="stat-item-value">
        <span class="stat-title">Achievements</span>
        <span>1 unlocked</span>
      </div>
    </div>
  </div>
</div>
