<ng-container *ngIf="!isMobile; else mobilesidebar">
  <nz-sider
    [nzCollapsed]="!open"
    [nzCollapsible]="true"
    (nzCollapsedChange)="openChange.emit(!$event)"
  >
    <div class="logo">Life Deck</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">Dashboard</li>
      <li nz-menu-item routerLink="/entries">Entries</li>
      <li nz-menu-item routerLink="/settings">Settings</li>
    </ul>
  </nz-sider>
</ng-container>

<ng-template #mobilesidebar>
  <nz-drawer [nzVisible]="open" nzPlacement="left" nzClosable="true" (nzOnClose)="onClose()">
  </nz-drawer>
</ng-template>
