<div class="action-wrapper">
      <span
        class="action-icon edit-icon"
        nz-icon
        nzType="edit"
        nzTheme="outline"
        aria-label="Edit category"
      ></span>
      <span
        class="action-icon delete-icon"
        nz-icon
        nzType="delete"
        nzTheme="outline"
        aria-label="Delete category"
        (click)="confirmDelete(category.id)"
      ></span>
      <span
        class="action-icon plus-icon"
        nz-icon
        nzType="plus"
        nzTheme="outline"
        aria-label="Delete category"
      ></span>
    </div>