.custom-menu {
  padding: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/* Top-level menu items and submenu items */
.custom-menu > li[nz-menu-item] {
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: flex-start;
  padding: 1.8rem;
  margin: 0;
  background-color: rgb(43, 29, 56);
  border-radius: 8px;
}

.sub-menu-item {
  padding: 1.8rem 1rem !important;
}

.sub-menu {
  background-color: rgb(43, 29, 56);
  border-radius: 8px;
  padding: 0.3rem;
}

/* Hover effect */
.custom-menu > li:hover,
.custom-menu > li[nz-submenu] > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Container holding icon and title */
.activity-title-with-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

/* Icon size */
.activity-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 10px;
}

.active-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

::ng-deep .custom-menu .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff !important;
}

.action-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-icon {
  cursor: pointer;
  font-size: 1.3rem;
  color: #8c8c8c;
  padding: 14px; /* 16px icon + 14px padding = 44px tap target */

  &:hover {
    transform: translateY(-3px);
  }
}

.edit-icon {
  color: #1890ff; /* Blue on tap/click */
}

.delete-icon {
  color: #ff4d4f; /* Red on tap/click */
}
