<ul nz-menu nzTheme="dark" nzMode="inline" class="custom-menu">
  <li
    nz-submenu
    *ngFor="let category of categories$ | async"
    [nzTitle]="categoryTitle"
    class="sub-menu"
  >
    <ng-template #categoryTitle>
      <div class="activity-title-with-icon">
        <img
          [src]="category.icon"
          class="activity-icon"
          (error)="onImageError($event)"
        />
        <div class="active-info-wrapper">
          <span class="activity-title">{{ category.title }}</span>
          <span class="activity-duration"
            >{{ getCategoryTime(category.id) | async | timeSpent }}</span
          >
        </div>
      </div>
    </ng-template>
    <ul class="sub-menu-ul">
      <li
        nz-menu-item
        *ngFor="let activity of getActivitiesByCategory(category.id) | async"
        (click)="select(activity.id)"
        class="sub-menu-item"
      >
        <div class="activity-title-with-icon">
          <img
            [src]="activity.icon"
            class="activity-icon"
            (error)="onImageError($event)"
          />
          <div class="active-info-wrapper">
            <span class="activity-title">{{ activity.title }}</span>
            <span>{{activity.timeSpent | timeSpent}}</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="action-wrapper">
      <span
        class="action-icon edit-icon"
        nz-icon
        nzType="edit"
        nzTheme="outline"
        aria-label="Edit category"
      ></span>
      <span
        class="action-icon delete-icon"
        nz-icon
        nzType="delete"
        nzTheme="outline"
        aria-label="Delete category"
        (click)="confirmDelete(category.id)"
      ></span>
    </div>
  </li>
<ng-container *ngIf="activityStore.unassignedActivities$ | async as filteredActivities">
 <li
    nz-menu-item
    *ngFor="let activity of filteredActivities"
    class="activity-submenu force-unified"
    (click)="select(activity.id)"
  >
    <div class="activity-title-with-icon">
      <img
        [src]="activity.icon"
        class="activity-icon"
        (error)="onImageError($event)"
      />
      <div class="active-info-wrapper">
        <span class="activity-title">{{ activity.title }}</span>
        <span>{{activity.timeSpent | timeSpent}}</span>
      </div>
    </div>
  </li>
</ng-container>
 
</ul>
