<nz-layout>
  <ng-container *ngIf="!isMobile">
    <nz-sider
      nzCollapsible
      nzWidth="300px"
      [nzCollapsedWidth]="0"
      [nzTrigger]="null"
      [(nzCollapsed)]="isSidebarCollapsed"
    >
      <app-sidebar-menu />
    </nz-sider>
  </ng-container>

  <nz-layout>
    <nz-header>
      <button nz-button nzType="text" (click)="toggleSidebar()">
        <i
          nz-icon
          [nzType]="isMobile ? 'menu' : (isSidebarCollapsed ? 'menu-unfold' : 'menu-fold')"
        ></i>
      </button>
    </nz-header>
    <nz-drawer
      *ngIf="isMobile"
      [nzVisible]="isDrawerVisible"
      nzPlacement="left"
      (nzOnClose)="isDrawerVisible = false"
      [nzClosable]="false"
    >
      <ng-container *nzDrawerContent>
        <app-sidebar-menu />
      </ng-container>
    </nz-drawer>
    <nz-content>
      <div class="inner-content">Bill is a cat.</div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
