<nz-layout>
  <ng-container *ngIf="!isMobile">
    <nz-sider
      nzCollapsible
      nzWidth="300px"
      [nzCollapsedWidth]="0"
      [nzTrigger]="null"
      [(nzCollapsed)]="isSidebarCollapsed"
    >
      <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
    </nz-sider>
  </ng-container>

  <nz-layout>
    <nz-header>
      <button nz-button nzType="text" (click)="toggleSidebar()">
        <i
          nz-icon
          [nzType]="isMobile ? 'menu' : (isSidebarCollapsed ? 'menu-unfold' : 'menu-fold')"
        ></i>
      </button>
    </nz-header>
    <nz-drawer
      *ngIf="isMobile"
      [nzVisible]="isDrawerVisible"
      nzPlacement="left"
      (nzOnClose)="isDrawerVisible = false"
      [nzClosable]="false"
    >
      <ng-container *nzDrawerContent>
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
      </ng-container>
    </nz-drawer>
    <nz-content>
      <!-- this is test for now , it will move to log in page later -->
      <button (click)="signIn()">Sign in bro</button>
      <h1>{{userEmail}}</h1>
      <button *ngIf="userEmail !== 'Not logged in'" (click)="signOut()">
        Sign out
      </button>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

<ng-template #sidebarContent>
  <div class="sider-content">
    <app-sidebar-menu />
    <div class="sider-modal-bottom">
      <app-activity-modal />
    </div>
  </div>
</ng-template>
