<ng-container *ngIf="activity ; else noActivity">
  <div class="activity-banner-wrapper" data-testId="detail-container">
    <img
      [src]="activity.banner || 'default-banner.png'"
      alt="Activity Banner"
      class="activity-banner"
    />
    <div class="activity-title-overlay">
      <h2 class="activity-title">{{ activity.title }}</h2>

      <app-activity-actions [activity]="activity" />
    </div>
  </div>
  <app-activity-stats [activity]="activity" />
</ng-container>

<ng-template #noActivity>
  <div class="no-activity-wrapper" data-testId="no-activity-container">
    <i nz-icon nzType="frown" nzTheme="outline" class="no-activity-icon"></i>
    <h2 class="no-activity-title">No Activity Selected</h2>
    <p class="no-activity-subtitle">
      Select an activity from the sidebar<br />or create a new one below
    </p>
    <app-activity-modal></app-activity-modal>
  </div>
</ng-template>
