<div *ngIf="activity" class="activity-stats">
  <app-activity-btn
    [activityId]="activity.id"
    [isRunning]="activity.isRunning"
  />
  <div class="stats-wrapper">
    <div class="stat-item">
      <nz-icon class="stats-icon" nzType="field-time" nzTheme="outline" />
      <div class="stat-item-value">
        <span class="stat-title">Time spent</span>
        <span>{{activity.timeSpent | timeSpent}}</span>
      </div>
    </div>

    <div class="stat-item">
      <nz-icon class="stats-icon" nzType="history" nzTheme="outline" />
      <div class="stat-item-value">
        <span class="stat-title">Last active</span>
        <span>
          {{ activity.lastPlayed ? (activity.lastPlayed | timeAgo) :
          'Not activated yet' }}
        </span>
      </div>
    </div>

    <div class="stat-item">
      <nz-icon class="stats-icon" nzType="calendar" nzTheme="outline" />
      <div class="stat-item-value">
        <span class="stat-title">First created</span>
        <span>{{activity.created | date: 'd MMMM yyyy'}}</span>
      </div>
    </div>
  </div>
</div>
