<form nz-form [formGroup]="form" nzLayout="vertical" (submit)="submit()">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
    <nz-form-control [nzErrorTip]="titleError">
      <input
        nz-input
        formControlName="title"
        id="title"
        placeholder="What is your new category called?"
        autocomplete="off"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="icon">Icon</nz-form-label>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="link">
        <input
          nz-input
          type="url"
          formControlName="icon"
          id="icon"
          placeholder="Image URL to use as icon"
          autocomplete="off"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="activities" nzRequired
      >Assign Activities</nz-form-label
    >
    <nz-form-control nzErrorTip="Please select at least one activity">
      <ng-container *ngIf="activityStore.unassignedActivities$ | async as filteredActivities">
        <nz-select
          id="activities"
          nzMode="multiple"
          nzPlaceHolder="Select activities for this category"
          formControlName="activities"
          [nzSize]="'large'"
          [nzDropdownClassName]="'mobile-friendly-dropdown'"
        >
          <nz-option
            *ngFor="let activity of filteredActivities"
            [nzLabel]="activity.title"
            [nzValue]="activity.id"
          ></nz-option>
        </nz-select>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="form.invalid" type="submit">
    Add Category
  </button>
</form>

<ng-template #titleError>
  <ng-container *ngIf="titleControl?.hasError('required')">
    Title is required
  </ng-container>
  <ng-container *ngIf="titleControl?.hasError('minlength')">
    Title must be at least 3 characters
  </ng-container>
</ng-template>
