.custom-menu {
  padding: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/* Top-level menu items and submenu items */
.custom-menu > li[nz-menu-item] {
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: flex-start;
  padding: 1.8rem;
  margin: 0;
  background-color: rgb(43, 29, 56);
  border-radius: 8px;

  &.active {
    background-color: rgb(134, 40, 221);
  }
}

.sub-menu-item {
  padding: 1.8rem 1rem !important;
  background-color: transparent;

  &.active {
    background-color: rgb(134, 40, 221);
  }
}

.sub-menu {
  background-color: rgb(43, 29, 56);
  border-radius: 8px;
  padding: 0.3rem;

  &.has-active-child {
    background-color: rgb(66, 22, 107); 
  }
}

/* Container holding icon and title */
.activity-title-with-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

/* Icon size */
.activity-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 10px;
}

.active-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

::ng-deep .custom-menu .sub-menu .ant-menu-item-selected {
  background-color: transparent !important; 
}
/* Ensure selected active items retain active background */
::ng-deep .custom-menu .ant-menu-item-selected.active {
  background-color: rgb(134, 40, 221) !important; 
}
