<div class="controls-wrapper">
  <button class="control-btn" nz-button nzType="primary" (click)="showModal()">
    <nz-icon nzType="edit" nzTheme="outline" />
  </button>

  <button
    class="control-btn"
    nzDanger
    nz-button
    nzType="primary"
    (click)="confirmDelete()"
  >
    <nz-icon nzType="delete" nzTheme="outline" />
  </button>

  <ng-container *ngIf="activity.category_id">
    <button
      class="control-btn"
      nzDanger
      nz-button
      nzType="primary"
      (click)="confirmRemove()"
    >
      <nz-icon nzType="minus" nzTheme="outline" />
    </button>
  </ng-container>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Activity"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-edit-activity-form
      [activity]="activity"
      (formSubmited)="handleCancel()"
    />
  </ng-container>
</nz-modal>
