<div class="controls-wrapper">
  <button class="control-btn" nz-button nzType="primary" (click)="showModal()">
    <nz-icon nzType="edit" nzTheme="outline" />
  </button>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Edit Activity"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="null"
  >
    <ng-container *nzModalContent>
      <app-edit-activity-form [activity]="activity" />
    </ng-container>
  </nz-modal>
  <button
    class="control-btn"
    nzDanger
    nz-button
    nzType="primary"
    (click)="confirmDelete()"
  >
    <nz-icon nzType="delete" nzTheme="outline" />
  </button>
</div>
